<a href="https://colab.research.google.com/github/rtomek9/DS3001Group23/blob/main/Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Test file for github

x = ' Hello World'


import pandas as pd
#
var_list = ['happy', 'hapunhap','relig','attend', 'relig16','age','income'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to
#
modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode
#
for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [ ]:
# Cleaning attend
print(df.shape)
print(df.head())
print(df['attend'].describe())
print(df['attend'].unique())
print(df['attend'].value_counts())

# Looks pretty good already

(24130, 6694)
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]
count     23944
unique        9
top       never
freq       6430
Name: attend, dtype: object
['never', 'less than once a year', 'several times a year', 'every week', 'about once or twice a year', 'nearly every week', 'about once a month', 'several times a week', '2-3 times a month', NaN]
Categories (22, object): ['never', 'less than once a year', 'about once or twice a year',
                          'several times a year', ..., 'uncodeable', 'not available in this release',
                          'not available in this year', 'see codebook']
never                            6430
every week                       3914
about once or twice a year       3140
several times a year             2480
less than once a year            2061
2-3 times a month                1804
several times a week             1505
about once a month               1348
nearly every week                1262
not imputable_(2147483638)          0
not available in this year          0
not available in this release       0
uncodeable                          0
skipped on web                      0
refused                             0
I don't have a job                  0
not imputable_(2147483637)          0
no answer                           0
dk, na, iap                         0
iap                                 0
don't know                          0
see codebook                        0
Name: attend, dtype: int64

In [ ]:
# Cleaning relig16
print(df['relig16'].describe())
print(df['relig16'].unique())
print(df['relig16'].value_counts())

# Looks pretty good
# Rename for clarity
df = df.rename(columns = {'relig16':'relig_fam'})

count          22934
unique            13
top       protestant
freq           11858
Name: relig16, dtype: object
[NaN, 'catholic', 'protestant', 'none', 'christian', ..., 'muslim/islam', 'buddhism', 'native american', 'other', 'inter-nondenominational']
Length: 14
Categories (26, object): ['protestant', 'catholic', 'jewish', 'none', ..., 'uncodeable',
                          'not available in this release', 'not available in this year', 'see codebook']
protestant                       11858
catholic                          7387
none                              2242
christian                          400
jewish                             397
other                              156
hinduism                           137
muslim/islam                       121
buddhism                           117
orthodox-christian                  89
native american                     12
inter-nondenominational             12
other eastern religions              6
not imputable_(2147483638)           0
not available in this year           0
not available in this release        0
uncodeable                           0
skipped on web                       0
refused                              0
don't know                           0
not imputable_(2147483637)           0
no answer                            0
dk, na, iap                          0
I don't have a job                   0
iap                                  0
see codebook                         0
Name: relig16, dtype: int64

In [ ]:
# Cleaning age
print(df['age'].describe())
print(df['age'].unique())
print(df['age'].value_counts())
print(df['age'].dtype)

# Looks pretty good
# Cast as int to make it cleaner
df['age'] = df['age'].astype('Int64')

print(df['age'].dtype)

count    23539.000000
mean        49.094651
std         17.633970
min         18.000000
25%         34.000000
50%         48.000000
75%         63.000000
max         89.000000
Name: age, dtype: float64
[48. 25. 42. 24. 31. 46. 52. 50. 32. 57. 62. 66. 34. 30. 27. 59. 19. 23.
 35. 44. 78. 33. 21. 77. 70. 69. 26. 89. 37. 68. 83. 61. 72. 53. 79. 58.
 36. 51. 56. 43. 40. 82. 41. 73. 85. 64. 22. 39. 75. 80. 49. 76. 60. 74.
 28. 47. 63. 20. 55. 18. 81. 86. 67. 45. 84. nan 38. 65. 54. 29. 71. 87.
 88.]
33.0    460
60.0    452
39.0    451
34.0    448
30.0    448
       ...
18.0     97
86.0     91
85.0     80
87.0     57
88.0     52
Name: age, Length: 72, dtype: int64
float64
Int64

In [10]:
#Cleaning happy
print(df.shape)
print(df['happy'].describe())
print(df['happy'].unique())
print(df['happy'].value_counts())
print( 'Total missing: ', sum( df['happy'].isnull() ) )

df = df.dropna(subset=['happy'])
print(df['happy'].describe())

(23102, 6694)
count            23102
unique               3
top       pretty happy
freq             12974
Name: happy, dtype: object
['pretty happy', 'very happy', 'not too happy']
Categories (16, object): ['very happy', 'pretty happy', 'not too happy', 'don't know', ...,
                          'uncodeable', 'not available in this release',
                          'not available in this year', 'see codebook']
pretty happy                     12974
very happy                        6146
not too happy                     3982
don't know                           0
iap                                  0
I don't have a job                   0
dk, na, iap                          0
no answer                            0
not imputable_(2147483637)           0
not imputable_(2147483638)           0
refused                              0
skipped on web                       0
uncodeable                           0
not available in this release        0
not available in this year           0
see codebook                         0
Name: happy, dtype: int64
Total missing:  0
count            23102
unique               3
top       pretty happy
freq             12974
Name: happy, dtype: object

In [13]:
print(df['hapunhap'].describe())
print(df['hapunhap'].unique())
print(df['hapunhap'].value_counts())
print( 'Total missing: ', sum( df['hapunhap'].isnull() ) )
#19,434 missing values ... might not want to use.

count    3668.000000
mean        1.954744
std         0.958149
min         1.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         7.000000
Name: hapunhap, dtype: float64
[nan  2.  1.  3.  4.  5.  6.  7.]
2.0    1599
1.0    1282
3.0     582
4.0     110
5.0      72
6.0      17
7.0       6
Name: hapunhap, dtype: int64
Total missing:  19434

In [17]:
print(df['income'].describe())
print(df['income'].unique())
print(df['income'].value_counts())
print( 'Total missing: ', sum( df['income'].isnull() ) )
df = df.dropna(subset=['income'])
print( 'Total missing: ', sum( df['income'].isnull() ) )

count               20532
unique                 12
top       $25,000 or more
freq                15130
Name: income, dtype: object
['$25,000 or more', '$5,000 to $5,999', '$10,000 to $14,999', '$15,000 to $19,999', '$6,000 to $6,999', ..., '$7,000 to $7,999', '$1,000 to $2,999', '$8,000 to $9,999', '$4,000 to $4,999', 'under $1,000']
Length: 13
Categories (25, object): ['under $1,000', '$1,000 to $2,999', '$3,000 to $3,999',
                          '$4,000 to $4,999', ..., 'uncodeable', 'not available in this release',
                          'not available in this year', 'see codebook']
$25,000 or more                  15130
$20,000 to $24,999                1343
$10,000 to $14,999                1333
$15,000 to $19,999                 978
$8,000 to $9,999                   382
under $1,000                       324
$1,000 to $2,999                   284
$7,000 to $7,999                   186
$3,000 to $3,999                   168
$6,000 to $6,999                   150
$5,000 to $5,999                   148
$4,000 to $4,999                   106
not imputable_(2147483638)           0
not available in this year           0
not available in this release        0
uncodeable                           0
skipped on web                       0
refused                              0
don't know                           0
not imputable_(2147483637)           0
no answer                            0
dk, na, iap                          0
I don't have a job                   0
iap                                  0
see codebook                         0
Name: income, dtype: int64
Total missing:  2570
Total missing:  0